.1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(242.00000077486038, 245.00000059604645, 247.00000047683716, 1);
	width:1440px;
	height:1020px;
	position:absolute;
}
.e4_1048 { 
	width:1440px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1049 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1050 { 
	color:rgba(86.92577719688416, 102.29144588112831, 126.43750101327896, 1);
	width:98px;
	height:34px;
	position:absolute;
	left:250px;
	top:10px;
	font-family:Georgia;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:-4;
}
.e4_1051 { 
	width:256px;
	height:19px;
	position:absolute;
	left:592px;
	top:17px;
}
.e4_1052 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:70px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Pretendard;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.e4_1053 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:56px;
	height:19px;
	position:absolute;
	left:100px;
	top:0px;
	font-family:Pretendard;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e4_1054 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:70px;
	height:19px;
	position:absolute;
	left:186px;
	top:0px;
	font-family:Pretendard;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e4_1055 { 
	width:86px;
	height:24px;
	position:absolute;
	left:1104px;
	top:15px;
}
.e4_1056 { 
	color:rgba(85.0000025331974, 85.0000025331974, 85.0000025331974, 1);
	width:56px;
	height:19px;
	position:absolute;
	left:30px;
	top:3px;
	font-family:Pretendard;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.e4_1057 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1058 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1059 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1060 { 
	background-color:rgba(119.00000050663948, 119.00000050663948, 119.00000050663948, 1);
	width:16px;
	height:21px;
	position:absolute;
	left:4px;
	top:1px;
}
.e4_1061 { 
	width:570px;
	height:380px;
	position:absolute;
	left:250px;
	top:74px;
}
.e4_1062 { 
	width:570px;
	height:380px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_1063 { 
	width:34px;
	height:34px;
	position:absolute;
	left:0px;
	top:188px;
}
.e4_1064 { 
	width:34px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1065 { 
	background-color:rgba(255, 255, 255, 1);
	width:34px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1066 { 
	background-color:rgba(0, 0, 0, 1);
	width:11.01883316040039px;
	height:18.031333923339844px;
	position:absolute;
	left:11.333333015441895px;
	top:7.984333515167236px;
}
.e4_1067 { 
	transform: rotate(180deg);
	width:34px;
	height:34px;
	position:absolute;
	left:570px;
	top:188px;
}
.e4_1068 { 
	width:34px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1069 { 
	background-color:rgba(255, 255, 255, 1);
	width:34px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1070 { 
	background-color:rgba(0, 0, 0, 1);
	width:11.01883316040039px;
	height:18.031333923339844px;
	position:absolute;
	left:11.333333015441895px;
	top:7.984333515167236px;
}
.e4_1071 { 
	width:54px;
	height:14px;
	position:absolute;
	left:258px;
	top:346px;
}
.e4_1072 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1073 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 0.5);
	width:14px;
	height:14px;
	position:absolute;
	left:20px;
	top:0px;
}
.e4_1074 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 0.5);
	width:14px;
	height:14px;
	position:absolute;
	left:40px;
	top:0px;
}
.e4_1075 { 
	width:350px;
	height:380px;
	position:absolute;
	left:840px;
	top:75px;
}
.e4_1076 { 
	background-color:rgba(255, 255, 255, 1);
	width:350px;
	height:380px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1077 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:29px;
	position:absolute;
	left:35px;
	top:20px;
	font-family:Pretendard;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e4_1078 { 
	width:124px;
	height:24px;
	position:absolute;
	left:35px;
	top:91px;
}
.e4_1079 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1080 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1081 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1082 { 
	background-color:rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 1);
	width:18.000999450683594px;
	height:18px;
	position:absolute;
	left:3px;
	top:2.999999761581421px;
}
.e4_1083 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:94px;
	height:17px;
	position:absolute;
	left:30px;
	top:5px;
	font-family:Pretendard;
	text-align:left;
	font-size:14px;
	letter-spacing:-0.5;
}
.e4_1084 { 
	width:112px;
	height:24px;
	position:absolute;
	left:35px;
	top:129px;
}
.e4_1085 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1086 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1087 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1088 { 
	background-color:rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 1);
	width:15.997062683105469px;
	height:22.000001907348633px;
	position:absolute;
	left:4.008906841278076px;
	top:1.9999977350234985px;
}
.e4_1089 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:82px;
	height:17px;
	position:absolute;
	left:30px;
	top:3px;
	font-family:Pretendard;
	text-align:left;
	font-size:14px;
	letter-spacing:-0.5;
}
.e4_1090 { 
	width:186px;
	height:24px;
	position:absolute;
	left:35px;
	top:167px;
}
.e4_1091 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1092 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1093 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1094 { 
	background-color:rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 1);
	width:18.00000762939453px;
	height:21.727922439575195px;
	position:absolute;
	left:2.9999959468841553px;
	top:2.000077962875366px;
}
.e4_1095 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:156px;
	height:17px;
	position:absolute;
	left:30px;
	top:3px;
	font-family:Pretendard;
	text-align:left;
	font-size:14px;
	letter-spacing:-0.5;
}
.e4_1096 { 
	background-color:rgba(85.0000025331974, 85.0000025331974, 85.0000025331974, 1);
	width:280px;
	height:2px;
	position:absolute;
	left:35px;
	top:69px;
}
.e4_1097 { 
	width:570px;
	height:398px;
	position:absolute;
	left:250px;
	top:475px;
}
.e4_1098 { 
	background-color:rgba(255, 255, 255, 1);
	width:570px;
	height:398px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1099 { 
	color:rgba(0, 0, 0, 1);
	width:114px;
	height:24px;
	position:absolute;
	left:35px;
	top:22px;
	font-family:Pretendard;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e4_1100 { 
	width:500px;
	height:269px;
	position:absolute;
	left:35px;
	top:69px;
}
.e4_1101 { 
	width:500px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1102 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:16px;
	position:absolute;
	left:22px;
	top:12px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1103 { 
	color:rgba(0, 0, 0, 1);
	width:31px;
	height:16px;
	position:absolute;
	left:91px;
	top:12px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1104 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:16px;
	position:absolute;
	left:165px;
	top:12px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1105 { 
	color:rgba(0, 0, 0, 1);
	width:29px;
	height:16px;
	position:absolute;
	left:234px;
	top:12px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1106 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:16px;
	position:absolute;
	left:306px;
	top:12px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1107 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:16px;
	position:absolute;
	left:382px;
	top:12px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1108 { 
	color:rgba(0, 0, 0, 1);
	width:24px;
	height:16px;
	position:absolute;
	left:452px;
	top:12px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1109 { 
	background-color:rgba(85.0000025331974, 85.0000025331974, 85.0000025331974, 1);
	width:500px;
	height:2px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1110 { 
	background-color:rgba(221.24999821186066, 221.24999821186066, 221.24999821186066, 1);
	width:500px;
	height:1px;
	position:absolute;
	left:0px;
	top:38px;
}
.e4_1111 { 
	width:500px;
	height:46px;
	position:absolute;
	left:0px;
	top:39px;
}
.e4_1112 { 
	background-color:rgba(255, 255, 255, 1);
	width:500px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1113 { 
	width:499.3999938964844px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1114 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1115 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:71px;
	top:0px;
}
.e4_1116 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:142px;
	top:0px;
}
.e4_1117 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:213px;
	top:0px;
}
.e4_1118 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:284px;
	top:0px;
}
.e4_1119 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:356px;
	top:0px;
}
.e4_1120 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:428px;
	top:0px;
}
.e4_1121 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:500px;
	height:1px;
	position:absolute;
	left:0px;
	top:45px;
}
.e4_1122 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:28px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1123 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:99px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1124 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:170px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1125 { 
	color:rgba(0, 0, 0, 1);
	width:6px;
	height:16px;
	position:absolute;
	left:246px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1126 { 
	color:rgba(0, 0, 0, 1);
	width:8px;
	height:16px;
	position:absolute;
	left:316px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1127 { 
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:16px;
	position:absolute;
	left:387px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1128 { 
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:16px;
	position:absolute;
	left:459px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1129 { 
	width:500px;
	height:46px;
	position:absolute;
	left:0px;
	top:85px;
}
.e4_1130 { 
	background-color:rgba(255, 255, 255, 1);
	width:500px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1131 { 
	width:499.3999938964844px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1132 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1133 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:71px;
	top:0px;
}
.e4_1134 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:142px;
	top:0px;
}
.e4_1135 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:213px;
	top:0px;
}
.e4_1136 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:284px;
	top:0px;
}
.e4_1137 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:356px;
	top:0px;
}
.e4_1138 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:428px;
	top:0px;
}
.e4_1139 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:500px;
	height:1px;
	position:absolute;
	left:0px;
	top:45px;
}
.e4_1140 { 
	color:rgba(0, 0, 0, 1);
	width:8px;
	height:16px;
	position:absolute;
	left:32px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1141 { 
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:16px;
	position:absolute;
	left:102px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1142 { 
	color:rgba(0, 0, 0, 1);
	width:8px;
	height:16px;
	position:absolute;
	left:174px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1143 { 
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:16px;
	position:absolute;
	left:244px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1144 { 
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:16px;
	position:absolute;
	left:315px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1145 { 
	color:rgba(0, 0, 0, 1);
	width:14px;
	height:16px;
	position:absolute;
	left:385px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1146 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:16px;
	position:absolute;
	left:458px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1147 { 
	width:500px;
	height:46px;
	position:absolute;
	left:0px;
	top:131px;
}
.e4_1148 { 
	background-color:rgba(255, 255, 255, 1);
	width:500px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1149 { 
	width:499.3999938964844px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1150 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1151 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:142px;
	top:0px;
}
.e4_1152 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:213px;
	top:0px;
}
.e4_1153 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:284px;
	top:0px;
}
.e4_1154 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:356px;
	top:0px;
}
.e4_1155 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:428px;
	top:0px;
}
.e4_1156 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:71px;
	top:0px;
}
.4_1156 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e4_1157 { 
	width:359px;
	height:4px;
	position:absolute;
	left:128px;
	top:10px;
}
.e4_1158 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1159 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:71px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1160 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:142px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1161 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:213px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1162 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:284px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1163 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:355px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1164 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:500px;
	height:1px;
	position:absolute;
	left:0px;
	top:45px;
}
.e4_1165 { 
	color:rgba(0, 0, 0, 1);
	width:14px;
	height:16px;
	position:absolute;
	left:29px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1166 { 
	color:rgba(0, 0, 0, 1);
	width:14px;
	height:16px;
	position:absolute;
	left:100px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1167 { 
	color:rgba(0, 0, 0, 1);
	width:15px;
	height:16px;
	position:absolute;
	left:170px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1168 { 
	color:rgba(0, 0, 0, 1);
	width:14px;
	height:16px;
	position:absolute;
	left:242px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1169 { 
	color:rgba(0, 0, 0, 1);
	width:14px;
	height:16px;
	position:absolute;
	left:313px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1170 { 
	color:rgba(0, 0, 0, 1);
	width:14px;
	height:16px;
	position:absolute;
	left:385px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1171 { 
	color:rgba(0, 0, 0, 1);
	width:14px;
	height:16px;
	position:absolute;
	left:457px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1172 { 
	width:500px;
	height:46px;
	position:absolute;
	left:0px;
	top:177px;
}
.e4_1173 { 
	background-color:rgba(255, 255, 255, 1);
	width:500px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1174 { 
	width:499.3999938964844px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1175 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1176 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:71px;
	top:0px;
}
.e4_1177 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:142px;
	top:0px;
}
.e4_1178 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:213px;
	top:0px;
}
.e4_1179 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:284px;
	top:0px;
}
.e4_1180 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:356px;
	top:0px;
}
.e4_1181 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:428px;
	top:0px;
}
.e4_1182 { 
	width:430px;
	height:4px;
	position:absolute;
	left:57px;
	top:10px;
}
.e4_1183 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1184 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:71px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1185 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:142px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1186 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:213px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1187 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:284px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1188 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:355px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1189 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:426px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1190 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:500px;
	height:1px;
	position:absolute;
	left:0px;
	top:45px;
}
.e4_1191 { 
	color:rgba(0, 0, 0, 1);
	width:14px;
	height:16px;
	position:absolute;
	left:29px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1192 { 
	color:rgba(0, 0, 0, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:99px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1193 { 
	color:rgba(0, 0, 0, 1);
	width:14px;
	height:16px;
	position:absolute;
	left:170px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1194 { 
	color:rgba(0, 0, 0, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:241px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1195 { 
	color:rgba(0, 0, 0, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:312px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1196 { 
	color:rgba(0, 0, 0, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:384px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1197 { 
	color:rgba(0, 0, 0, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:456px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1198 { 
	width:500px;
	height:46px;
	position:absolute;
	left:0px;
	top:223px;
}
.e4_1199 { 
	background-color:rgba(255, 255, 255, 1);
	width:500px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1200 { 
	width:499.3999938964844px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1201 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1202 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:71px;
	top:0px;
}
.e4_1203 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:142px;
	top:0px;
}
.e4_1204 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:213px;
	top:0px;
}
.e4_1205 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:284px;
	top:0px;
}
.e4_1206 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:356px;
	top:0px;
}
.e4_1207 { 
	background-color:rgba(255, 255, 255, 1);
	width:71.4000015258789px;
	height:45px;
	position:absolute;
	left:428px;
	top:0px;
}
.e4_1208 { 
	width:359px;
	height:4px;
	position:absolute;
	left:57px;
	top:10px;
}
.e4_1209 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1210 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:71px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1211 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:142px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1212 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:213px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1213 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:284px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1214 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:355px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1215 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:500px;
	height:1px;
	position:absolute;
	left:0px;
	top:45px;
}
.e4_1216 { 
	color:rgba(0, 0, 0, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:28px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1217 { 
	color:rgba(0, 0, 0, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:99px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1218 { 
	color:rgba(0, 0, 0, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:169px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1219 { 
	color:rgba(0, 0, 0, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:241px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1220 { 
	color:rgba(0, 0, 0, 1);
	width:17px;
	height:16px;
	position:absolute;
	left:312px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1221 { 
	color:rgba(0, 0, 0, 1);
	width:14px;
	height:16px;
	position:absolute;
	left:385px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1222 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:6px;
	height:16px;
	position:absolute;
	left:461px;
	top:15px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1223 { 
	width:188px;
	height:34px;
	position:absolute;
	left:347px;
	top:18px;
}
.e4_1224 { 
	color:rgba(0, 0, 0, 1);
	width:100px;
	height:29px;
	position:absolute;
	left:44px;
	top:2px;
	font-family:Pretendard;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e4_1225 { 
	width:34px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1226 { 
	width:34px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1227 { 
	background-color:rgba(255, 255, 255, 1);
	width:34px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1228 { 
	background-color:rgba(0, 0, 0, 1);
	width:11.01883316040039px;
	height:18.031333923339844px;
	position:absolute;
	left:11.333333015441895px;
	top:7.984333515167236px;
}
.e4_1229 { 
	transform: rotate(180deg);
	width:34px;
	height:34px;
	position:absolute;
	left:188px;
	top:0px;
}
.e4_1230 { 
	width:34px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1231 { 
	background-color:rgba(255, 255, 255, 1);
	width:34px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1232 { 
	background-color:rgba(0, 0, 0, 1);
	width:11.01883316040039px;
	height:18.031333923339844px;
	position:absolute;
	left:11.333333015441895px;
	top:7.984333515167236px;
}
.e4_1233 { 
	width:126px;
	height:14px;
	position:absolute;
	left:222px;
	top:357px;
}
.e4_1234 { 
	width:52px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1235 { 
	background-color:rgba(1.0624989867210388, 11.219989489763975, 255, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:0px;
	top:5px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_1236 { 
	color:rgba(85.0000025331974, 85.0000025331974, 85.0000025331974, 1);
	width:42px;
	height:14px;
	position:absolute;
	left:10px;
	top:0px;
	font-family:Pretendard;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e4_1237 { 
	width:54px;
	height:14px;
	position:absolute;
	left:72px;
	top:0px;
}
.e4_1238 { 
	background-color:rgba(255, 255, 255, 1);
	width:6px;
	height:6px;
	position:absolute;
	left:0px;
	top:4px;
}
.4_1238 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e4_1239 { 
	color:rgba(85.0000025331974, 85.0000025331974, 85.0000025331974, 1);
	width:42px;
	height:14px;
	position:absolute;
	left:12px;
	top:0px;
	font-family:Pretendard;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e4_1240 { 
	width:350px;
	height:398px;
	position:absolute;
	left:840px;
	top:475px;
}
.e4_1241 { 
	background-color:rgba(255, 255, 255, 1);
	width:350px;
	height:398px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1242 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:2px;
	height:317px;
	position:absolute;
	left:313px;
	top:81px;
}
.e4_1243 { 
	background-color:rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 1);
	width:2px;
	height:80px;
	position:absolute;
	left:313px;
	top:81px;
}
.e4_1244 { 
	color:rgba(0, 0, 0, 1);
	width:114px;
	height:24px;
	position:absolute;
	left:35px;
	top:22px;
	font-family:Pretendard;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e4_1245 { 
	background-color:rgba(85.0000025331974, 85.0000025331974, 85.0000025331974, 1);
	width:280px;
	height:2px;
	position:absolute;
	left:35px;
	top:69px;
}
.e4_1246 { 
	width:350px;
	height:21px;
	position:absolute;
	left:0px;
	top:377px;
}
.4_1247 { 
	overflow:hidden;
}
.e4_1247 { 
	background-color:rgba(255, 255, 255, 1);
	width:350px;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1248 { 
	width:274px;
	height:70px;
	position:absolute;
	left:35px;
	top:0px;
}
.e4_1249 { 
	width:135px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1250 { 
	background-color:rgba(255, 255, 255, 1);
	width:135px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.4_1250 { 
	border:1px solid rgba(221.24999821186066, 221.24999821186066, 221.24999821186066, 1);
}
.e4_1251 { 
	color:rgba(0, 0, 0, 1);
	width:84px;
	height:16px;
	position:absolute;
	left:34px;
	top:15px;
	font-family:Pretendard;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e4_1252 { 
	color:rgba(21.000000648200512, 112.000000923872, 255, 1);
	width:45px;
	height:16px;
	position:absolute;
	left:45px;
	top:45px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1253 { 
	width:24px;
	height:24px;
	position:absolute;
	left:6px;
	top:11px;
}
.e4_1254 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1255 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1256 { 
	background-color:rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.e4_1257 { 
	width:135px;
	height:70px;
	position:absolute;
	left:139px;
	top:0px;
}
.e4_1258 { 
	background-color:rgba(255, 255, 255, 1);
	width:135px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.4_1258 { 
	border:1px solid rgba(221.24999821186066, 221.24999821186066, 221.24999821186066, 1);
}
.e4_1259 { 
	color:rgba(0, 0, 0, 1);
	width:84px;
	height:16px;
	position:absolute;
	left:34px;
	top:15px;
	font-family:Pretendard;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e4_1260 { 
	color:rgba(21.000000648200512, 112.000000923872, 255, 1);
	width:45px;
	height:16px;
	position:absolute;
	left:45px;
	top:45px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1261 { 
	width:24px;
	height:24px;
	position:absolute;
	left:6px;
	top:11px;
}
.e4_1262 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1263 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1264 { 
	background-color:rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.e4_1265 { 
	width:135px;
	height:70px;
	position:absolute;
	left:35px;
	top:81px;
}
.e4_1266 { 
	background-color:rgba(255, 255, 255, 1);
	width:135px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.4_1266 { 
	border:1px solid rgba(221.24999821186066, 221.24999821186066, 221.24999821186066, 1);
}
.e4_1267 { 
	color:rgba(0, 0, 0, 1);
	width:88px;
	height:16px;
	position:absolute;
	left:34px;
	top:15px;
	font-family:Pretendard;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e4_1268 { 
	color:rgba(255, 0, 0, 1);
	width:45px;
	height:16px;
	position:absolute;
	left:45px;
	top:45px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1269 { 
	width:24px;
	height:24px;
	position:absolute;
	left:6px;
	top:11px;
}
.e4_1270 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1271 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1272 { 
	background-color:rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.e4_1273 { 
	width:135px;
	height:70px;
	position:absolute;
	left:174px;
	top:81px;
}
.e4_1274 { 
	background-color:rgba(255, 255, 255, 1);
	width:135px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.4_1274 { 
	border:1px solid rgba(221.24999821186066, 221.24999821186066, 221.24999821186066, 1);
}
.e4_1275 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:16px;
	position:absolute;
	left:34px;
	top:15px;
	font-family:Pretendard;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e4_1276 { 
	color:rgba(21.000000648200512, 112.000000923872, 255, 1);
	width:45px;
	height:16px;
	position:absolute;
	left:45px;
	top:45px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1277 { 
	width:24px;
	height:24px;
	position:absolute;
	left:6px;
	top:11px;
}
.e4_1278 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1279 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1280 { 
	background-color:rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.e4_1281 { 
	width:135px;
	height:70px;
	position:absolute;
	left:35px;
	top:155px;
}
.e4_1282 { 
	background-color:rgba(255, 255, 255, 1);
	width:135px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.4_1282 { 
	border:1px solid rgba(1.0624989867210388, 11.219989489763975, 255, 1);
}
.e4_1283 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:16px;
	position:absolute;
	left:34px;
	top:15px;
	font-family:Pretendard;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e4_1284 { 
	color:rgba(21.000000648200512, 112.000000923872, 255, 1);
	width:45px;
	height:16px;
	position:absolute;
	left:45px;
	top:45px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1285 { 
	width:24px;
	height:24px;
	position:absolute;
	left:6px;
	top:11px;
}
.e4_1286 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1287 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1288 { 
	background-color:rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.e4_1289 { 
	width:135px;
	height:70px;
	position:absolute;
	left:174px;
	top:155px;
}
.e4_1290 { 
	background-color:rgba(255, 255, 255, 1);
	width:135px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.4_1290 { 
	border:1px solid rgba(221.24999821186066, 221.24999821186066, 221.24999821186066, 1);
}
.e4_1291 { 
	color:rgba(0, 0, 0, 1);
	width:88px;
	height:16px;
	position:absolute;
	left:34px;
	top:15px;
	font-family:Pretendard;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e4_1292 { 
	color:rgba(21.000000648200512, 112.000000923872, 255, 1);
	width:45px;
	height:16px;
	position:absolute;
	left:45px;
	top:45px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1293 { 
	width:24px;
	height:24px;
	position:absolute;
	left:6px;
	top:11px;
}
.e4_1294 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1295 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1296 { 
	background-color:rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.e4_1297 { 
	width:135px;
	height:70px;
	position:absolute;
	left:35px;
	top:229px;
}
.e4_1298 { 
	background-color:rgba(255, 255, 255, 1);
	width:135px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.4_1298 { 
	border:1px solid rgba(221.24999821186066, 221.24999821186066, 221.24999821186066, 1);
}
.e4_1299 { 
	color:rgba(0, 0, 0, 1);
	width:86px;
	height:16px;
	position:absolute;
	left:34px;
	top:15px;
	font-family:Pretendard;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e4_1300 { 
	color:rgba(21.000000648200512, 112.000000923872, 255, 1);
	width:45px;
	height:16px;
	position:absolute;
	left:45px;
	top:45px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1301 { 
	width:24px;
	height:24px;
	position:absolute;
	left:6px;
	top:11px;
}
.e4_1302 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1303 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1304 { 
	background-color:rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.e4_1305 { 
	width:135px;
	height:70px;
	position:absolute;
	left:174px;
	top:229px;
}
.e4_1306 { 
	background-color:rgba(255, 255, 255, 1);
	width:135px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.4_1306 { 
	border:1px solid rgba(221.24999821186066, 221.24999821186066, 221.24999821186066, 1);
}
.e4_1307 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:16px;
	position:absolute;
	left:34px;
	top:15px;
	font-family:Pretendard;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e4_1308 { 
	color:rgba(21.000000648200512, 112.000000923872, 255, 1);
	width:45px;
	height:16px;
	position:absolute;
	left:45px;
	top:45px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1309 { 
	width:24px;
	height:24px;
	position:absolute;
	left:6px;
	top:11px;
}
.e4_1310 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1311 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1312 { 
	background-color:rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.e4_1313 { 
	width:135px;
	height:70px;
	position:absolute;
	left:35px;
	top:303px;
}
.e4_1314 { 
	background-color:rgba(255, 255, 255, 1);
	width:135px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.4_1314 { 
	border:1px solid rgba(221.24999821186066, 221.24999821186066, 221.24999821186066, 1);
}
.e4_1315 { 
	color:rgba(0, 0, 0, 1);
	width:81px;
	height:16px;
	position:absolute;
	left:34px;
	top:15px;
	font-family:Pretendard;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e4_1316 { 
	color:rgba(21.000000648200512, 112.000000923872, 255, 1);
	width:45px;
	height:16px;
	position:absolute;
	left:45px;
	top:45px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1317 { 
	width:24px;
	height:24px;
	position:absolute;
	left:6px;
	top:11px;
}
.e4_1318 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1319 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1320 { 
	background-color:rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.e4_1321 { 
	width:135px;
	height:70px;
	position:absolute;
	left:174px;
	top:303px;
}
.e4_1322 { 
	background-color:rgba(255, 255, 255, 1);
	width:135px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.4_1322 { 
	border:1px solid rgba(221.24999821186066, 221.24999821186066, 221.24999821186066, 1);
}
.e4_1323 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:16px;
	position:absolute;
	left:34px;
	top:15px;
	font-family:Pretendard;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e4_1324 { 
	color:rgba(21.000000648200512, 112.000000923872, 255, 1);
	width:45px;
	height:16px;
	position:absolute;
	left:45px;
	top:45px;
	font-family:Pretendard;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e4_1325 { 
	width:24px;
	height:24px;
	position:absolute;
	left:6px;
	top:11px;
}
.e4_1326 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1327 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1328 { 
	background-color:rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.e4_1329 { 
	width:350px;
	height:60px;
	position:absolute;
	left:840px;
	top:893px;
}
.e4_1330 { 
	background-color:rgba(21.000000648200512, 112.000000923872, 255, 1);
	width:350px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e4_1331 { 
	width:100px;
	height:24px;
	position:absolute;
	left:125px;
	top:18px;
}
.e4_1332 { 
	color:rgba(255, 255, 255, 1);
	width:70px;
	height:24px;
	position:absolute;
	left:30px;
	top:0px;
	font-family:Pretendard;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e4_1333 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1334 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1335 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_1336 { 
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
